<h1>プロフィール</h1>
<p>1998年4月8日 poker faceでデビュー</p>
<p>福岡県出身</p>
<p>平成の歌姫と呼ばれる</p>
<p>
<h2>歌手デビューまで</h2>
<p>1978年10月2日、歌姫誕生。</p>
<p>学生時代から目のパッチリした可愛らしい少女で、</p>
<p>小学生の時にスカウトされ、「浜崎くるみ」として活動。<p/>
<p>地方銀行のポスターなどに登場する。</p>
<p>
<p>1993年4月に「ツインズ教師」でドラマデビュー。<p/>
<p>数年かけてドラマに出演し、脇役ながらも「美少女」として注目される。<p/>
<p>
<p>女優含め様々な活動をするもなかなか目が出ることがなかったあゆ。<p/>
<p>そんな折、エイベックスの松浦勝人と出会い、1996年末にボイストレーニングのためニューヨークへと渡った。<p/>
<p>これが、現在の「浜崎あゆみ」としてのエイベックスからの歌手デビューへの準備だった。<p/>